.header{
    height: 80px;
    display: flex;
    background: #1C2B35;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    justify-content: space-between;
}
nav.header a{
    color: #FFFFFF;
    margin-left: 30px;
    text-decoration: none;

}
nav.header:hover a{
    color: orange;
}